<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container" >
        <form id="post-form" class="form-outline" style="margin-top: 50px;" >
            {% csrf_token %}
            <label class="form-label" for="textAreaExample">Input title</label>
            <textarea class="form-control" id="title" name="title" rows="2"></textarea>
            <label class="form-label" for="textAreaExample">Input abstract</label>
            <textarea class="form-control" id="abstract" name="abstract" rows="4"></textarea>
            <button id="btnpredict" class="btnpredict" type="submit" style="margin-top: 50px;"> Predict </button>
            <br>
            <br>
            <span id="text" name="text"> </span>
          </form>
        </div>
        <script>
          $(document).ready(function () {
              $('#post-form').submit(function (event) {
                  event.preventDefault(); 
  
                  var title = $('#title').val();
                  var abstract = $('#abstract').val();
                  var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
                  if (title === "" || abstract === "") return;

                  var loadingText = ".....";
                  var index = 0;
                  var interval = setInterval(function() {
                    $('#text').text(loadingText.substring(0, index));
                    index++;
                    if (index > loadingText.length) {
                        clearInterval(interval);
                    }
                  }, 100);

                  var text = "";
                  clearText = setInterval(() => {
                    $('#text').text(text);
                  },2000);
                  $.ajax({
                      type: 'POST',
                      url: '{% url "predict" %}', 
                      data: {
                          'abstract': abstract,
                          'title':title,
                          'csrfmiddlewaretoken': csrfToken
                      },
                      success: function (response) {
                          // Khi nhận được phản hồi từ máy chủ
                          clearInterval(interval);
                          $('#text').text('Category predict: ' + response.result);
                      },
                      error: function (xhr, errmsg, err) {
                          // Xử lý lỗi nếu có
                          console.log(xhr.status + ': ' + xhr.responseText);
                      }
                  });
              });
          });
      </script>
</body>
</html>